/* .panel {
    position: relative;
} 

.panel:target {
    padding-top: 80px;
} */

.img-responsive {
    max-width: 68%;
    max-height: auto;
}

.panel {
    background-color: #eef0f2;
}

section:before {
    height: 70px;
    content: "";
    display:block;
}

footer:before {
    height: 20px;
    content: "";
    display:block;
}